.main-contents
  .main-chat--group
    .main-chat--group__name 
      = @group.name
    .main-chat--group__member 
      - @group.group_users.each do |group_user|
        = group_user.user.name

    .main-chat--group__edit
      = link_to "Edit", edit_group_path(@group.id) ,class: "edit-link" 
      
  .main-chat
    = render @messages


  .main-chat--message-form
    .message-form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: "message-form_text", placeholder: "type a message" 
        .form-label
          = f.label :image, class: "message-form_image" do
            =icon("fas", "image")
            = f.file_field :image, class: "message-form_file"
        = f.submit "Send", class: "message-form_submit"  
          