<<<<<<< Updated upstream
.messages{"data-message-id": "#{message.id}"}
=======
.messages{data: {message: {id: message.id}}}
# 以下省略

>>>>>>> Stashed changes
  .user-date
    .user-date--user
      = message.user.name
    .user-date--date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .chat-message
    - if message.content.present?
      %p.lower-message__content 
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
